# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Xcode
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab
local.properties

# Buck
.buckd/
buck-out/

# Metro
.metro-health-check*

# Bundle artifacts
*.jsbundle

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
